@import url('variables.css');
.registrarse{
 width: 100%;
 height: 90vh;
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 25px;
}
.form__label{
  width: 50%;
}
.registrarse{
  display: flex;
}
.button{
  display: flex;
  justify-content: center;
  gap: 10px
}
