/* ================== VARIABLES ================== */
@import url("./variables.css");


/* ================== RESET ================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--color--principal);
  color: var(--color--textoprincipal);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__usuarios {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu {
  display: flex;
  gap: 25px;
}

.menu__items {
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  transition: 0.3s ease;
}

.menu__items:hover {
  color: #ffcc00;
}

.button__login {
  background: #ffcc00;
  color: #002244;
  font-weight: bold;
  padding: 8px 18px;
  border-radius: 25px;
  transition: 0.3s;
  text-decoration: none;
}

.button__login:hover {
  background: #e6b800;
  color: #fff;
}
/* ================== TARJETA PRINCIPAL ================== */
.registrarse {
  position: relative;    /* Necesario para el logo marca de agua */
  max-width: 900px;
  margin: 50px auto;
  display: flex;
  height: 80vh;
  gap: 30px;
  align-items: center;
  background: var(--color--blanco);
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 8px 15px rgba(0,0,0,0.1);
  overflow: hidden;
}

/* ================== LOGO MARCA DE AGUA ================== */
.logo__marcaAgua {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250px;
  height: auto;
  opacity: 0.08;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 0;
}

.content__text {
  font-size: 1rem;
  font-style: italic;
  color: var(--color--principal);
}

/* ================== FORMULARIO ================== */



.btn__registrarse {
  margin-top: 10px;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: var(--color--secundario);
  color: var(--color--blanco);
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.btn__registrarse:hover {
  background: #0284c7;
}

/* ================== MEDIA QUERIES ================== */
@media (max-width: 768px) {
  .registrarse {
    flex-direction: column;
    text-align: center;
  }

  .content__logo {
    margin-bottom: 20px;
  }
}
