@import url('variables.css');

.contentUsuario{
width: 100%;
height: 100vh;
display: flex;
flex-direction: column;
}
.headerUsuario{
 width: 100%;
 background-color:var( --color--headercliente);
 height: 15vh;
 display: flex;
 justify-content: space-between;
 padding: 0px 10px;
}
.headerlogo{
 width: 20%;
 height: 100%;
 /* background-color: var(--color--principalUsuarios); */
 display: flex;
 align-items: center;
}
.headerimg{
 width: 40%;
 height: 100%;
}.headertext{
  font-family: var(--font-buttons);
  font-weight: 600;
  font-size: 1.8rem;
}
.headermenu{
 width: 50%;
 height: 100%;
}
.headerinformacion{
 width: 100%;
 height: 100%;
 display: flex;
 align-items: center;
}
.button__info{
 width: 30%;
 height: 20%;
 text-decoration: none;
 border: none;
 background-color:var( --color--headercliente);
 cursor:pointer;
 font-size: 1.1rem;
 color: #000; ;
}

.VehiculosUsuariosId{
 width: 100%;
 height: 75vh;
 display: flex;
 gap: 20px;
 padding: 15px;
}
.vehiculosUsuarios{
 width: 20%;
 height: 40%;
 background-color: var(--color--cardsVehiculosclientes);
 border: none;
 border-radius: 20px;
}

.Usuarios__buttones{
width: 100%;
height: 15%;
display: flex;
justify-content: center;
gap: 10px;
}
.usuarios__button{
width: 40%;
height: 80%;
border-radius: 15px;
background-color: var(--color--BotonClientes);
color: var(--color--blancocontent);
border: none;
}