@import url('../variables.css');

.contentBloque{
  padding: 10px;
  width: 100%;
  height: 100vh;
}
.contenidoAdmin{
  width: 100%;
  height: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.titleadmin{
  height: 10vh;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  font-family: var(--font-Title);
 font-weight: 600;
 font-size: 1.9rem;
  text-align: center;
  font-size: 25px;
}
.contenido{
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 80vh;
  overflow-x: auto; 
}
.tabla-usuarios {
  width: 100%;
  border-collapse: collapse;
  font-family: var(--font-body);
}
.tabla-usuarios th,
.tabla-usuarios td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
.tabla-usuarios th {
  background-color: var(--color--fondologin);
  color: var(--color--negro);
  font-weight: 600;

}
.tabla-usuarios button {
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
}

.tabla-usuarios .btn-modificar {
  background-color: var(--color--buttonProductos);
  color: #fff;
}

.tabla-usuarios .btn-Eliminar {
  background-color: var(--color--buttonEliminar);
  color: #fff;
}
.form__inputtext{
 width: 50%;
 height: 5%;
} 
.mensaje-error {
  color: red;
  font-size: 0.8rem;
  margin-top: 4px;
  display: block;
  font-weight: 500;
}

.form__input{
  border-radius: 5px;
  height: 25px;
  padding: 3px;
  border: none;
}