
.formulario {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  background-color: var(--color--fondologin);
  border-radius: 20px;
  font-family: var(--font--principalateral);
  font-size: 1.4rem;
  font-weight: 500;
}
.loginmecanico__login {
  width: 450px;
  border-radius: 30px;
}
.bodyContent {
  display: flex;
  flex-direction: column;
}

.form__card {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.form__grupo {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.form__button {
  display: flex;
  justify-content: center;
  width: 100%;
}
.form__inputtext{
 width: 50%;
 height: 5%;
} 
.mensaje-error {
  color: red;
  font-size: 0.8rem;
  margin-top: 4px;
  display: block;
  font-weight: 500;
}

.form__input{
  border-radius: 5px;
  height: 25px;
  padding: 3px;
  border: none;
}
