<div class="headerUsuario">
  <div class="headerlogo">
    <img class="headerimg" src="../../../../../public/Logo.png" alt="" />
    <p class="headertext">Bienvenido</p>
  </div>
  
  <div class="headermenu">
    <div class="headerinformacion">
      <a class="button__info" href="#/cliente/principal">Inicio</a>
      <a class="button__info" href="#/Servicios">Servicios Disponibles</a>
      <a class="button__info" href="#/historial">Historial de Servicios</a>
      <a class="button__info" href="#/informacion">Informacion Usuario</a>
      <a class="button__info" id="cerrar_sesion" href="#/Home">Cerrar Sesion</a>
    </div>
  </div>

</div>